.rose {
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../public/assets/images/rose_burgundy.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
